{{- range $name, $secret := .Values.externalSecrets }}
{{- if and (ne $name "secretStore") $secret.create }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "argo-ci-trigger.externalSecretName" (dict "name" $name "root" $) }}
  labels:
    {{- include "argo-ci-trigger.labels" $ | nindent 4 }}
spec:
  secretStoreRef:
    kind: {{ include "argo-ci-trigger.externalSecretStoreKind" (dict "secret" $secret "root" $) }}
    name: {{ include "argo-ci-trigger.externalSecretStoreName" (dict "secret" $secret "root" $) }}
  refreshInterval: {{ $secret.refreshInterval }}
  data:
  {{- range $secretKey, $remoteRef := $secret.data }}
  - remoteRef:
      key: {{ $remoteRef.key }}
    secretKey: {{ $secretKey }}
  {{- end }}
  {{- $target := $secret.target | default dict }}
  {{- $template := $target.template | default dict }}
  target:
    creationPolicy: {{ $target.creationPolicy | default "Owner" }}
    deletionPolicy: {{ $target.deletionPolicy | default "Retain" }}
    name: {{ include "argo-ci-trigger.externalSecretName" (dict "name" $name "root" $) }}
    template:
      engineVersion: {{ $template.engineVersion | default "v2" }}
      mergePolicy: {{ $template.mergePolicy | default "Replace" }}
      type: {{ $template.type | default "Opaque" }}
{{- end }}
{{- end }}
