{{- if .Values.eventSource.github.webhookSecret.create }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "argo-ci-trigger.webhookSecretName" . }}
  labels:
    {{- include "argo-ci-trigger.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.eventSource.github.webhookSecret.value }}
  {{ .Values.eventSource.github.webhookSecret.key }}: {{ .Values.eventSource.github.webhookSecret.value | b64enc | quote }}
  {{- else }}
  {{ .Values.eventSource.github.webhookSecret.key }}: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
{{- end }}

{{- if .Values.eventSource.github.apiToken.create }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "argo-ci-trigger.apiTokenSecretName" . }}
  labels:
    {{- include "argo-ci-trigger.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.eventSource.github.apiToken.key }}: {{ required "GitHub API token value is required when apiToken.create is true" .Values.eventSource.github.apiToken.value | b64enc | quote }}
{{- end }}
