apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-eventsource-svc" (include "argo-ci-trigger.fullname" .) }}
  labels:
    {{- include "argo-ci-trigger.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 12000
      targetPort: 12000
      protocol: TCP
      name: http
  selector:
    controller: eventsource-controller
    eventsource-name: {{ include "argo-ci-trigger.fullname" . }}
